/*  #065474 
    #f48038
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(imgs/teste444.jpg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
@media screen and (max-width: 758px){
    body{
        background-image: none;
    }
}

header {
    background-color: white;
    width: 100%; 
    transition: .5s linear;
    position: fixed;
    top: 0;
    border: none;
}

.navtop {
    background-color: #f48038;
    width: 100%;
    min-width: 380px;
    border-bottom:  1px solid rgba(87, 87, 87, 0.153);
}

span {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 15px;
    width: 89%;
    padding: 3px 0;  
}

span img {
    width: 15px;   
}

span a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 12px;

}

span a:hover {
    text-decoration: underline;
}

span li {
    list-style: none;

}
nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 20px 0;
    transition: .4s ease;

}
@media screen and (max-width:768px) {
    #navtop  {
        display: flex;
        width: 80%;
        margin-left: 0%
    }
}
/* menu superior*/




nav .logo img {
    width: 170px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #065474;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 18px;
    transition: .2s all;
    padding: 0 15px;
    transition: linear .2s;
}
.nav-links a:hover {
    color: #f48038;
    
}



/*menu mobile*/
.burger {
    display: none;
    cursor: pointer;
    z-index: 12;
}

.burger div {
    width: 25px;
    height: 4px;
    background-color: #065474;
    margin: 4px;
    transition: all 0.3s ease;
}



/*tornando o menu resposivel*/
@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

/*Ajustando a altura minima*/
@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    /*ajustando os itens para se adequar a altura min*/
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 16.5vh;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform .2s ease-out;
        z-index: 99;
    }
    .nav-links a{
        font-size: 20px;
        margin: -45px;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
}



/*Quando se clica no menu hambuguer*/
    .nav-active {
    transform: translateX(0%);
    
}

/*Animações quando se clica no menu hamburguer*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}



/*Transformando o menu em X*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: #f48038;
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
    background-color: #f48038;
}
@media screen and (max-width: 768px) {
    .nav-links.nav-active li {
        opacity: 1;
    }
}
/* header*/






main{
    width: 100%;
    margin-top: 58%;
}



.qs{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}
.qs img{
    width: 700px;
    margin: 30% 0;
}


.qs-text{
    width: 30%;
    margin: auto;
}

.qs h1{
    text-decoration: underline 7px solid #f48038;
    color:#065474;
    font-size: 2rem;
    padding: 50px 0;
    text-align: center;
}
.qs p{
    line-height: 25px;
    font-size: 1.5rem;
}
@media screen and (max-width:785px) {
    .qs {
        display: flex;
        flex-direction: column;
        
    }
    .qs img{
        width: 100%;
    }
    .qs h1{
      margin: 0 -90px;
      font-size: 40px;
    }
    .qs p{
        display: flex;
        justify-content: center;
        font-size: 20px;

    }
    
}









.container_sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sobre{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: flex-start;
}

.sob_container_sobre img{
    width: 100px;
    margin-top: 30%;
    
}

.text-sobre{
    width: 50%;
    margin: auto;
}

.text-sobre h1{
    text-decoration: underline 7px solid #f48038;
    color:#065474;
    font-size: 2rem;
    padding: 40px 0;
}

@media screen and (max-width:758px){
    .sobre{
        display: block;
    
    }
    .text-sobre h1{
        width: 70%;
        margin: auto;
    }
    .text-sobre p{
        margin: 0 -70px;
        width: 200%;
    }
    .sob_container_sobre img{
        padding-top: 150px;
    }
    .text-sobre h3{
        width: 120%;
        margin-left: -70px;
    }


}




.N{
    width: 100%;
    background-color: #065474;
    margin: 100px 0;
    padding: 20px 0;

}
.n{
    display: flex;
    justify-content: space-around;
    line-height: 2.5;

    
}
.n h1{
    color: #f48038;
    font-weight: 900;
    font-size: 2rem;
    
}
.n p{
    color: white;
    font-weight: 900;
    font-size: 1.1rem;
    text-align: center;

}
@media screen and (max-width:768px){
    .n{
        display: block;
    }
    .n h1{
        font-size: calc(1.8em + 1.2vw);
        text-align: center;
        padding-top: 60px;
        

    }
    .n p {
        font-size: calc(1em + 1.2vw);
        padding-top: 10px;
        width: 100%;
          
    }
}



.mapa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}
.mapa img{
    width: 700px;
    
}
.mapa h1{
    text-decoration: underline 7px solid #f48038;
    color:#065474;
    font-size: 2rem;
    padding: 70px 0;
}
@media screen and (max-width:768px){
    .mapa img{
        width: 380px;
    }
}


#mapa1{
    width: 80%;
    height: 900px
}


.quem-somos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px
}
.quem-somos-text{
    width: 20%;
}
.quem-somos img{
    width: 600px;
}
.quem-somos p {
    line-height: 25px;
    font-size: 1.5rem;

}
.quem-somos h1 {
    font-size: 3rem;
    color: #065474;
    text-decoration: underline 7px solid #f48038;
    text-align: center;
    padding: 30px 0;
}


.btn_wpp{
    position: fixed;
    top: 85%;
    left: 93%;
}
.btn_wpp img{
    width: 80px;
}

@media screen and ( max-width:768px){
    .btn_wpp{
        left: 75%;
    }
    .btn_wpp img {
        width: 70px;
    }
}









/* tela de trabalhe conosco*/

.tc{
    width: 100%;

}
.tc-sobre{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
    
}
.tc-vetor img{
    width: 70%;
    margin-left: 30%;
   
}
.tc-text h1{
    text-decoration: underline 7px solid #f48038;
    color:#065474;
    font-size: 2rem;
    
}
.tc-text h1:first-child{
    padding: 80px 0 50px 0;
}
.tc-text p {
    line-height: 30px;
    font-size: 1.1rem;
    margin-bottom: 20%;
    
}

.tc h2{
    background-color: #065474;
    border-bottom:  20px solid #f48038;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    color: white
}



#local{
    width: 60%;
    height: 700px;
    display: flex;
    margin: auto;

}
.local-text{
    margin-top: 100px;
    text-align: center;
}
.local-text h1 {
    color:#065474;
    font-size: 2rem;
    
}
.local-text p {
    line-height: 30px;
    font-size: 1.1rem;
    margin-bottom: 20%;
    ;
}
/* tela de trabalhe conosco*/











footer {
    width: 100%;
    background-color: #065474;
    min-width: 320px;
      
}














.second_footer{
    background-color: #296a84;
    padding: 25px 0;
}



.footer_son {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    color: white;
}

.footer_son img{
    width: 120px;
}

.footer_son a {
    text-decoration: none;
    color: white;
}

.footer_son ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
}

.footer_son ul li:hover {
    color: #f48038;
}



.footer_brother {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    padding: 80px 0;
    align-items: center;
    background-image: url(imgs/velor\ log.png);
    background-position: right;
    background-size: 33%;
    background-repeat: no-repeat;
    
}
@media screen and (max-width:768px){
    .footer_brother {
        background-size: 100%;
        background-position: bottom;
        padding: 150px 0;
        margin-bottom: 30px;
    }
    
}

.footer_brother img{
    width: 600px;
}

.footer_brother p{
color: white;  
}

.footer_brother h1 {
    border-left: 10px solid #f48038;
    padding: 0px 20px;
    max-width: 60%;
    color: white;
    
}

@media screen and (max-width:768px){
    .footer_brother .qld{
        padding-bottom: 150px;
    }
}
.footer_brother a {
    font-size: 2rem;
}

.footer_brother button:hover {
    background-color: #ffa974;
    cursor: pointer;
}

.footer_brother button {
    background-color: #f48038;
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    font-weight: 600;
}
.cts {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.vetorlog{
   max-width: 900px;
   min-width: 320px;
   
}

.dev {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    color: white;
    padding: 15px 0;
}
.social img {
    width: 20px;
}







/* tornando o footer resposivel mobile*/

@media screen and (max-width: 768px) {
    .footer_son {
        display: flex;
        flex-direction: column;
        font-size: calc(.45em + 1.2vw);
        align-items: center;
        padding: 10px 0;
        gap: 20px;
    }
}
@media screen and (max-width:780px){
    .footer_brother{
        display: flex;
        flex-direction: column;
        font-size: calc(.5em + 1.2vw);  
    }
    h1{
        display: flex;
        
    }
    p{
       width: 90%;
        
    }
}   

@media screen and (max-width: 768px) {
    .dev {
        display: flex;
        flex-direction: column;
        font-size: calc(.6em + 1.1vw);
        gap: 20px;
        text-align: center;
   }
}
@media screen and (max-width: 768px) {
    .vetorlog {
        margin: 60px 0 0 0;
    }
}
@media screen and (max-width: 768px) {
    #qld, a{
        display: flex;
        justify-content: center;
        text-decoration: none;

    }
}
@media screen and (max-width: 768px) {
        .social{
            display: flex;
            gap: 10px;
            justify-content: center;
        }
}
/*footer*/



